<section>
  <h1>$ whoami</h1>
  <p>
    <img src="https://avatars3.githubusercontent.com/u/1409139?v=3&s=200" alt="me" style="float:right;width:82px;height:82px;">
  I'm Raphael S. Carvalho, a.k.a. utroz. I'm a computer programmer who loves operating system design and implementation,
  and recently developed an interest in game programming. Open source enthusiast.
  </p>
  <p style="font-size:13px">
    <img src="{{ root_url }}/images/twitter-16x16.gif" alt="me" style="float:left;width:20px;height:20px;">
    &nbsp;<a href="https://twitter.com/raphael_scarv">This is my twitter page</a>
    <br/>
    <img src="{{ root_url }}/images/email.png" alt="me" style="float:left;width:20px;height:20px;">
    &nbsp;<a href="http://raphaelsc.github.io/">Find my mail at my webpage</a>
  </p>
    <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=funwithbits', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>Subscribe through your email:</p><p><input type="text" style="width:140px" name="email"/></p><input type="hidden" value="funwithbits" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Subscribe" /><p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p></form>
  </p>
</section>
