<section>
  <h1>$ whoami</h1>
  <p>
    <img src="https://avatars3.githubusercontent.com/u/1409139?v=3&s=200" alt="me" style="float:right;width:82px;height:82px;">
  I am Raphael S. Carvalho, a.k.a. utroz. I love figuring out how computer works, and I work hard to improve my programming skills every single day.
  It's impossible to be *really* good in a short amount of time, but I believe that I can get there through continuous improvement.
  </p>
  <p style="font-size:12px">
    <img src="{{ root_url }}/images/twitter-16x16.gif" alt="me" style="float:left;width:20px;height:20px;">
    <a href="https://twitter.com/raphael_scarv">Follow me on twitter</a>
  </p>
  <p style="font-size:12px">
    <img src="{{ root_url }}/images/email.png" alt="me" style="float:left;width:20px;height:20px;">
    <a href="http://raphaelsc.github.io/">Find my mail at my webpage</a>
  </p>
</section>
